{% extends 'base.html.twig' %}

{% block title %}Condition générales d'Utilisation du site AliExpress ! {% endblock %}

{% block body %}

{{  include ("partials/title_section.html.twig", {'name' : 'Condition générales d Utilisation'}) }}
<div class="container">

    <h1 class="text-center"> Condition générales d'Utilisation du site AliExpress </h1>
   <p classe="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, magni alias fugit temporibus laboriosam eum explicabo, animi quaerat omnis similique distinctio? Officia alias laborum nobis quas? Tempore, reiciendis. Suscipit, explicabo!
   Iste, voluptatem laboriosam iusto mollitia corrupti placeat modi saepe, hic officia, debitis assumenda pariatur incidunt. Repellendus, esse asperiores aperiam nobis beatae impedit vitae velit. Incidunt asperiores aliquid soluta nam tempora?
   Dignissimos assumenda exercitationem natus tempore, facilis iusto qui cum eum tempora mollitia ratione placeat vero doloremque nemo at earum sunt! Ea at quaerat libero voluptate tempore ut illo perferendis inventore!
   Nesciunt quae ratione, ullam sint sapiente eos ipsa porro vitae rem provident dolorem aut minima repellat nisi ut non fugit sequi ipsum animi facere aspernatur pariatur neque reprehenderit? Libero, adipisci.
   Magnam aliquam aliquid consequatur corporis quod officiis nobis quia soluta quidem illo dolorem, porro nam unde quam, fugit veritatis tempore earum id quibusdam dolore voluptatem consectetur suscipit rem dolorum. Impedit?
   Odit, eligendi recusandae praesentium blanditiis reiciendis natus, iure dolorum voluptatum molestias aspernatur facilis in fuga! Sunt illo ducimus amet! Delectus consectetur reprehenderit eaque, aliquam saepe eligendi in corporis sed amet.
   Delectus id a voluptatem facere distinctio aspernatur eius, quos asperiores quis earum minus facilis repellendus quas nostrum magni. Ab quis recusandae nobis unde fugit voluptates obcaecati possimus quae ullam quas.
   Numquam dignissimos praesentium inventore aspernatur unde magnam soluta cupiditate saepe dolores voluptatem eaque itaque vero iusto laudantium, dicta veritatis sequi minima similique totam dolorem officia aliquid! Nostrum quasi dignissimos commodi!
   Hic aspernatur autem omnis eum sunt laborum molestiae odit sit facilis suscipit culpa minus eos ab adipisci, similique nobis illo iusto, possimus quisquam dolorem excepturi! Repudiandae alias fuga nesciunt molestias.
   Nulla error exercitationem adipisci mollitia at repellat minima, pariatur ad ducimus voluptatem quas, recusandae placeat numquam deleniti et non cumque ipsam ratione nemo nesciunt molestias totam magnam praesentium. Facilis, corporis.
   Voluptatibus vitae qui incidunt commodi tenetur et amet magnam voluptatum illum quae quos, adipisci laboriosam error dolorem optio dolorum doloribus veritatis nemo ducimus vel. Voluptates neque magni unde rerum corporis?
   Aperiam nam ex aliquam modi? Molestiae provident sed omnis ea eius, animi voluptas ipsum totam? Vitae iure asperiores optio libero dicta blanditiis, adipisci quas distinctio? Quidem beatae sit repellendus iste.
   Atque, distinctio culpa, neque nostrum enim maxime corrupti tempora recusandae ratione exercitationem harum quia saepe, quos debitis! Voluptas suscipit, temporibus alias hic ullam quod, eius aspernatur neque voluptatem, aliquam dolore.
   Magnam vel ea modi dolorem veniam, illum architecto tempora laborum ab qui, ipsam at repellat delectus cum possimus! Fugiat sunt odio ducimus ea nulla rerum ipsum minus laudantium autem incidunt.
   Eius porro quos consequuntur magnam qui atque vel quas dolores quisquam. Ex dicta maxime voluptatum quisquam repellendus quod incidunt est sequi doloribus eos. Odit nobis eaque molestiae id fugiat fuga.
   Expedita maiores sunt doloribus distinctio, beatae temporibus quis enim porro officiis quod delectus eaque in dolor totam saepe eum voluptatum, aperiam dolores? Tempora consequatur et repellat deserunt! Asperiores, quia cum!
   Amet repellendus eos culpa voluptatem labore eum dolor cum quos incidunt expedita, veritatis, ipsam sapiente commodi adipisci sed nulla iusto asperiores molestiae soluta natus aliquam porro illum nobis. Nesciunt, nulla.
   Vel quas minima tempore, voluptates, commodi minus doloremque animi accusantium, voluptatem enim velit illum vitae repellat ipsam voluptas. Totam, expedita laborum! Hic velit aliquid dignissimos amet asperiores dolorum consequuntur laudantium!
   Consequuntur nesciunt fugit nobis vero facere tempore est modi adipisci voluptatem distinctio, iure ipsum laborum molestiae tempora earum ad! A illo neque velit deleniti ea placeat vitae aliquid eligendi enim!
   Commodi explicabo id ut officiis error ipsum qui reprehenderit blanditiis fuga at voluptatum porro quaerat aliquid possimus amet suscipit doloremque asperiores laudantium reiciendis neque magni temporibus, nostrum dolor aperiam. A.
   </p>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/amina/AliExpress/src/Controller/CGUController.php'|file_link(0) }}">src/Controller/CGUController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/amina/AliExpress/templates/cgu/index.html.twig'|file_link(0) }}">templates/cgu/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
